{%extends 'registration/base.html'%}
{% load crispy_forms_tags %}


{%block content%}
<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h1 class="text-center">Log In</h1>
            <form method="POST" class="form-group">
                <div class="form-group"></div>
                {% csrf_token %}
                {{ form|crispy }}
                <br><button type="submit" class="btn btn-success btn-lg">Log In</button><hr>
                <p>Don't have an account? <a href="{%url 'signup'%}">Sign Up</a></p>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

{%endblock%}